<div *ngIf="messageService.messages.length">
  <div *ngFor="let message of messageService.messages">
    {{message}}
  </div>
  <button type="button" (click)="messageService.clear()">Clear messages</button>
</div>
